language: node_js
node_js:
  - lts/boron
  - lts/carbon
  - lts/dubnium
  - stable
cache:
  directories:
    - node_modules
after_success:
  - npm i -g coveralls
  - cat coverage/lcov.info | coveralls
